<div class="container">
  <h1>Registra azienda</h1>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" required min="3" [(ngModel)]="azienda.nome" (onChange)="verificaNome()">
      <div [hidden]="!errName" class="alert alert-danger">Il nome è obbligatorio</div>

    </div>

    <label for="categorie">Categorie</label>
    <div class="form-group">
      <p-multiSelect id="categorie" [options]="categorie" [(ngModel)]="azienda.categorie" [panelStyle]="{minWidth:'10em'}"
      (onChange)="verificaCategorie()" defaultLabel="Scegli categorie " selectedItemsLabel="{0} elementi selezionati"></p-multiSelect>
      
      <p>Categorie selezionate: {{azienda.categorie}}</p> 
      <div [hidden]="!errCat" class="alert alert-danger">Scegli almeno una categoria</div>

    </div>


    <label for="prodotti">Prodotti</label>
    <div class="form-group">
      <p-multiSelect id="prodotti" [options]="prodotti" [(ngModel)]="azienda.prodotti" [panelStyle]="{minWidth:'10em'}" 
      (onChange)="verificaProdotti()" defaultLabel="Scegli prodotti" selectedItemsLabel="{0} elementi selezionati"></p-multiSelect>
      
      <p>Prodotti selezionati: {{azienda.prodotti}}</p> 

    </div>

    <label for="servizi">Servizi</label>
    <div class="form-group">
      <p-multiSelect id="servizi" [options]="servizi" [(ngModel)]="azienda.servizi" [panelStyle]="{minWidth:'10em'}" 
      (onChange)="verificaServizi()" defaultLabel="Scegli servizi" selectedItemsLabel="{0} elementi selezionati"></p-multiSelect>
      
      <p>Servizi selezionati: {{azienda.servizi}}</p> 
    </div>

    <div [hidden]="!errProdServ" class="alert alert-danger">Scegli almeno un prodotto o un servizio</div>

    <button class="btn btn-success" (click)="submit()">Submit</button>

</div>