<div class="container">

  <h3>Registra azienda</h3>



  <div class="container" style="padding: 5%; background-color: whitesmoke; border-style: solid;">

    <div class="form-group">
      <p-fileUpload name="img[]" url="./upload.php" accept="image/*"
      chooseLabel="Scegli immagine"
      mode="advanced"
      showUploadButton=""
      customUpload="true"
      cancelLabel="Elimina"
      invalidFileTypeMessageSummary="{0}: Tipo di file non valido, "
      invalidFileTypeMessageDetail="tipi di file permessi: {0}."
      customUpload="true" 
      (onSelect)="createFile($event)"
      (onRemove)="removeFile()"
      (onClear)="removeFile()"
      ></p-fileUpload>
      <div [hidden]="errImg == null" class="alert alert-danger">{{errImg}}</div>

    </div>


    <div class="form-group">
      <label for="ragioneSociale" class="labels">Ragione sociale</label>
      <input type="text" class="form-control" id="ragioneSociale" required min="3" [(ngModel)]="azienda.ragioneSociale"
        (change)="verificaRagioneSociale()">
      <div [hidden]="errRagSoc == null" class="alert alert-danger">{{errRagSoc}}</div>
    </div>

    <div class="form-group">
      <label for="email" class="labels">Email</label>
      <input type="text" class="form-control" id="email" required min="3" [(ngModel)]="azienda.email"
        (change)="verificaEmail()">
      <div [hidden]="errMail == null" class="alert alert-danger">{{errMail}}</div>
    </div>

    
    <div class="form-group">
      <label for="tel" class="labels">Telefono (chiamate)</label>
      <input type="number" class="form-control" id="tel" required  [(ngModel)]="azienda.tel"
        >
      <!-- <div [hidden]="errMail == null" class="alert alert-danger">{{errMail}}</div> -->
    </div>

    
    <div class="form-group">
      <label for="cel" class="labels">Cellulare (whatsapp)</label>
      <input type="number" class="form-control" id="cel" required [(ngModel)]="azienda.cel"
        >
      <!-- <div [hidden]="errMail == null" class="alert alert-danger">{{errMail}}</div> -->
    </div>

    <div class="row">
      <div class="col-sm-2 form-group">
        <label for="toponimo" class="labels">Toponimo</label>
        <select class="form-control" id="toponimo" [(ngModel)]="azienda.toponimo">
          <option *ngFor="let top of toponimi" [value]="top">{{top}}</option>
          <!-- <div [hidden]="errTop == null" class="alert alert-danger">{{errInd}}</div> -->
        </select>
      </div>

      <div class="col-sm-3 form-group">
        <label for="indirizzo" class="labels">Indirizzo</label>
        <input type="text" class="form-control" id="indirizzo" required [(ngModel)]="azienda.indirizzo"
          (change)="verificaIndirizzo()">
        <!-- <div [hidden]="errInd == null" class="alert alert-danger">{{errInd}}</div> -->
      </div>

      <div class="col-sm-2 form-group">
        <label for="civico" class="labels">Numero Civico</label>
        <input type="number" min="0" class="form-control" id="civico" required [(ngModel)]="azienda.civico">
        <!-- <div [hidden]="errCiv == null" class="alert alert-danger">{{errCiv}}</div> -->
      </div>

      
      <div class="col-sm-2 form-group">
        <label for="provincia" class="labels">Provincia</label>
        <input type="text" class="form-control" id="provincia" required [(ngModel)]="azienda.provincia">
        <!-- <div [hidden]="errCiv == null" class="alert alert-danger">{{errCiv}}</div> -->
      </div>

      <div class="col-sm-2 form-group">
        <label for="cap" class="labels">CAP</label>
        <input type="number" min="0" class="form-control" id="cap" required [(ngModel)]="azienda.cap">
        <!-- <div [hidden]="errCiv == null" class="alert alert-danger">{{errCiv}}</div> -->
      </div>
      <div [hidden]="errInd == null" class="alert alert-danger">{{errInd}}</div>
    
    </div>

    <div class="row">
      <div class="col form-group">
        <label for="apertura" class="labels">Orario di apertura</label>
        <input type="time" class="form-control" id="apertura" required [(ngModel)]="azienda.apertura"
        (change)="verificaTime()">
        
      </div>

      <div class="col form-group">
        <label for="chiusura" class="labels">Orario di chiusura</label>
        <input type="time" class="form-control" id="chiusura" required [(ngModel)]="azienda.chiusura"
        (change)="verificaTime()">
        
      </div>
  </div>

  <div [hidden]="errTime == null" class="alert alert-danger">{{errTime}}</div> 


    <div class="row">
      <div class="col form-group">
        <label for="descrizione" class="labels">Descrizione</label>
        <input type="text" class="form-control" id="descrizione" required [(ngModel)]="azienda.descrizione">
        <!-- <div [hidden]="errCiv == null" class="alert alert-danger">{{errCiv}}</div> -->
      </div>
  </div>



    <hr class="solid">

    <label for="categorie" class="labels">Categorie</label>
    <div class="form-group">
      <p-multiSelect id="categorie" [options]="categorie" [(ngModel)]="azienda.categorie"
        [panelStyle]="{minWidth:'10em'}" (onChange)="verificaCategorie()" defaultLabel="Scegli categorie "
        selectedItemsLabel="{0} elementi selezionati" emptyFilterMessage="Nessun risultato"></p-multiSelect>

      <div class="row">
        <div *ngFor="let cat of azienda.categorie">
          <span class="container custom-selected"> <button class="btn btn-danger" style="margin-top: 3%;"
              (click)="rimuoviCategoria(cat)">{{cat}}</button></span>
        </div>
      </div>
      <div [hidden]="!errCat" class="alert alert-danger">Scegli almeno una categoria</div>
    </div>

    <hr class="solid">

    <label for="prodotti" class="labels">Prodotti</label>
    <div class="form-group">
      <p-multiSelect id="prodotti" [options]="prodotti" [(ngModel)]="azienda.prodotti" [panelStyle]="{minWidth:'10em'}"
        (onChange)="verificaProdotti()" defaultLabel="Scegli prodotti" selectedItemsLabel="{0} elementi selezionati"
        emptyFilterMessage="Nessun risultato"></p-multiSelect>

      <div class="row">
        <div *ngFor="let prod of azienda.prodotti">
          <span class="container custom-selected"> <button class="btn btn-danger"
              (click)="rimuoviProdotto(prod)">{{prod}}</button></span>
        </div>
      </div>
    </div>

    <hr class="solid">


    <label for="servizi" class="labels">Servizi</label>
    <div class="form-group">
      <p-multiSelect id="servizi" [options]="servizi" [(ngModel)]="azienda.servizi" [panelStyle]="{minWidth:'10em'}"
        (onChange)="verificaServizi()" defaultLabel="Scegli servizi" selectedItemsLabel="{0} elementi selezionati"
        emptyFilterMessage="Nessun risultato"></p-multiSelect>

      <div class="row">
        <div *ngFor="let serv of azienda.servizi">
          <span class="container custom-selected"> <button class="btn btn-danger"
              (click)="rimuoviServizio(serv)">{{serv}}</button></span>
        </div>
      </div>
    </div>

    <div [hidden]="!errProdServ" class="alert alert-danger">Scegli almeno un prodotto o un servizio</div>
  </div>


  <button class="btn btn-success" style="margin-top: 2%;" (click)="submit()">Registra</button>
  <p-toast></p-toast>


</div>